﻿@charset "utf-8";

@import 'imports/reset';
@import 'imports/variables';
@import 'imports/mixins';

@import 'general/layout';
@import 'general/typography';

@import 'pages/home';
@import 'pages/user';

body {
    background: linear-gradient(to right, $mainColor,$secondaryColor);
    font-family: $bodyFont;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page-wrap {
    max-width: 100% !important;
}
