// Styles de la page Home
.content-wrap {

    .infos-block {

        h1 {
            font-size: 180px;
            color: $white;
            font-family: $titleFont;
            text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
        }

        p {
            color: $darkBlue;
            font-size: 50px;
            font-family: $titleFont;
        }
    }


    .nav-arrow {
        color: $white;
        position: absolute;

        span {
            font-size: 3.1rem;
        }
    }

    .circle {
        display: block;
        position: absolute;
        background: black;
        border-radius: 50%;
        margin: 0;
        z-index: -1;
    }

    .x1 {
        top: -15px;
        left: -15px;
        height: 400px;
        width: 400px;
        background: radial-gradient(circle at 30px 60px, #c7cdfa, $blue);
    }

    .x2 {
        height: 200px;
        width: 200px;
        background: radial-gradient(circle at 30px 60px, #c7cdfa, $blue);
        right: -35px;
        top: -35px;
    }
}

