// Styles de la page User
.content-wrap {
    .users-select {
        text-align: center;
        width: 100%;
        margin-top: 10%;

        h1 {
            select {
                min-width: 50%;
                min-height: 40px;
                background-color: transparent;
                outline: none;
                color: $white;
                border: 3px solid $white;
                font-size: 30px;
                padding: 10px;

                option {
                    color: $blue !important;
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
    }

    .infos-block {

        h3 {
            font-size: 20px;
            color: $darkBlue;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: $titleFont;

            span {
                color: $white !important;
                font-family: $titleFont;
            }
        }
    }

    .articles-list {
        .container {
            display: flex;
            height: 100vh;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;

            .card {
                text-align: center;
                background-color: $white;
                border-radius: $borderRadius;
                padding: 20px;
                margin-right: 20px;
                margin-bottom: 20px;
                width: 40%;
                height: 300px;
                font-family: $titleFont;
                overflow: hidden;

                h2 {
                    text-align: center;
                    color: $darkBlue;
                    font-size: 20px;
                    margin-bottom: 20px;
                }


                p {
                    color: $black;
                    font-size: 15px;
                    padding-bottom: 20px;
                    text-align: left;
                    overflow: hidden;
                    height: 80%;
                }
            }
        }
    }
}

